body {
    margin:0;
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:#f8fafc;
}

/* INTRO */
.intro video {
    width:100%;
    height:100vh;
    object-fit:cover;
}

.intro-text {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

/* PARALLAX */
.parallax {
    height:100vh;
    overflow:hidden;
    position:relative;
}

.layer {
    position:absolute;
    width:100%;
}

.title {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:3em;
}

/* POETRY */
.poetry {
    max-width:600px;
    margin:100px auto;
    line-height:2;
    text-align:center;
    opacity:0;
    transition:1s;
}

.poetry.show {
    opacity:1;
}

.highlight {
    color:#fda4af;
}

/* GAME */
.game-section {
    text-align:center;
    padding:50px;
}

#memoryGame {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    max-width:300px;
    margin:auto;
}

.card {
    height:70px;
    background:#1e293b;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

/* FINAL */
.final {
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
