body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg,#ffe4ec,#fce7f3);
    margin:0;
    text-align:center;
}

/* NAV */
nav {
    background:#fff;
    padding:10px;
    position:sticky;
    top:0;
}

nav button {
    margin:5px;
    padding:8px 15px;
    border:none;
    border-radius:20px;
    background:#fda4af;
    color:white;
    cursor:pointer;
}

/* SECTION */
.section {
    display:none;
    padding:30px;
}
.active {
    display:block;
}

/* IMG */
img {
    width:150px;
    border-radius:15px;
    margin:10px;
}

/* SECRET */
.secret {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    justify-content:center;
    align-items:center;
}
.box {
    background:white;
    padding:20px;
    border-radius:20px;
}
